<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!-- Octopus Deploy Settings -->
  <add key="OctopusDeploy.Url" value="http://octopusdeploy.aquepreview.com/"/>
  <add key="OctopusDeploy.ApiKey" value="API-HB9LXJ0DLAWA84BQLK76NG3TG4"/>
  <add key="OctopusDeploy.ProjectName" value="SitecoreOctopusDemo"/>
  <add key="OctopusDeploy.EnvironmentName" value="Production"/>

  <!-- Github Settings -->
  <add key="Git.RepositoryName" value="SampleSitecoreReposiotryForTesting" />
  <add key="Git.GithubToken" value="a147fac4a7d179deeee0e41f27581324a819c236" />
  <add key="Git.OrganisationName" value="leethomascook" />

  <!-- Jira Settings -->
  <add key="Jira.Url" value="https://aqueduct.atlassian.net" />
  <add key="Jira.Username" value="apiuser" />
  <add key="Jira.Password" value="qwerty1234" />
  <add key="Jira.ProjectName" value="DigitalSportsPlatform" />
</appSettings>